################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Testing.dll
/bin/Testing.dll.config
/bin/Testing.pdb
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Debug/Testing.csproj.AssemblyReference.cache
/obj/Debug/Testing.csproj.CoreCompileInputs.cache
/obj/Debug/Testing.csproj.FileListAbsolute.txt
/obj/Debug/Testing.dll
/obj/Debug/Testing.pdb
/.gitignore
/.vs/Testing/FileContentIndex
/bin/Testing.dll
/bin/Testing.pdb
/.vs/Testing/v17/.suo
/.vs/Testing/v17/DocumentLayout.json
/.vs/Testing/v17/DocumentLayout.backup.json
